.home-blk {
   .promise-content {
      font-size: 2.6rem;
      color: #253858;
      margin-bottom: 2.3rem;
      line-height: 4.1rem;
      font-weight: bold;

      .focus-word {
         color: #0052cc;
         background: -webkit-linear-gradient(0deg ,#0052cc, #0082cc);
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
      }
   }

   .explore-blk {
      text-align: center;
      margin-top: 120px;

      .step-1 {
         .label-title {
            h3 {
               color: #0052cc;
               background: -webkit-linear-gradient(0deg ,#0052cc, #2684FF);
               -webkit-background-clip: text;
               -webkit-text-fill-color: transparent;
            }         
         }
      }
      .step-2 {
         .label-title {
            h3 {
               color: #57d9a3;
               background: -webkit-linear-gradient(0deg ,#0080cc, #57d9a3);
               -webkit-background-clip: text;
               -webkit-text-fill-color: transparent;
            }         
         }
      }
      .step-3 {
         .label-title {
            h3 {
               color: #ff3530;
               background: -webkit-linear-gradient(0deg ,#FFAB00, #ff3530);
               -webkit-background-clip: text;
               -webkit-text-fill-color: transparent;
            }         
         }
      }

      .tiny-heading {
         h5 {
            font-size: .85rem;
            letter-spacing: .1rem;
            font-weight: 300;
         }
      }

      .label-imge {
         margin: 20px 0;

         object {
            width: 10%;
         }
      }

      .label-title {
         margin-bottom: 20px;

         h3 {
            font-size: 1.9rem;
            font-weight: 700;
         }
      }

      .title {
         h2 {
            font-size: 3.5rem; 
            font-weight: 800;
         }
      }

      .description {
         display: flex;
         justify-content: center;

         p {
            margin: 20px 0 20px 0;
            width: 70%;
            color: #666;
         }
      }
   }

   .cta-blk {
      margin-top: 100px;
      text-align: center;

      h2 {
         opacity: .3;
         color: #253858;
         font-weight: 800;
         font-size: 5rem;
      }

      .cta-content {
         font-size: 2.4rem;
         color: #253858;
         margin-bottom: 2.3rem;
         line-height: 3.7rem;
         font-weight: bold;

         .focus-word-ideation {
            color: #0052cc;
            background: -webkit-linear-gradient(0deg,#0052cc, #0082cc);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
         }
         .focus-word-creation {
            color: #0052cc;
            background: -webkit-linear-gradient(0deg,#0080cc, #57d9a3);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
         }
         .focus-word-monetization {
            color: #0052cc;
            background: -webkit-linear-gradient(0deg,#FFAB00, #ff3530);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
         }
      }

      .cta-button {

         a {
            display: inline-block;
            color: white;
            text-align: center;
            border-radius: .4rem;
            font-size: 1.3rem;
            font-weight: 100;
            -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.2); 
            padding: .6rem 3rem !important;
            -webkit-transition: all .2s;
            transition: all .2s;
            background: rgb(9,9,121);
            background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(0,82,204,1) 0%, rgba(0,130,204,1) 100%);

            &:hover {
               -webkit-transform: translateY(3px);
               transform: translateY(3px);
               text-decoration: none; 
               -webkit-box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.08);
               box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.08);
               color: white;
            }

            img {
               width: 25px;
               margin-left: 20px;
            }
         }
      }
   }

   .articles-blk {
      margin-top: 120px;
      box-shadow: inset rgba(3,27,78,.1)0 2px 4px 0;
      background:#f5f5f5;
      background: linear-gradient(180deg, #f5f5f5 0%,#fff 100%);
      padding: 30px 0px;

      h2 {
         text-align: center;
         margin-bottom: 30px;
         font-size: 1.8rem;
         color: #5b6987cf;
      }

      .learn-item {
         box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.15) !important;
         transition: 0.3s;

         &:hover {
            box-shadow: 0rem 0rem 1rem 0.3rem rgba(0, 0, 0, 0.2) !important;
         }

         a {
            border-radius: 0px; 
            font-size: 1.3em; 
            margin: auto; 
            color: rgba(0, 0, 0, 0.85);

            &:hover {
               text-decoration: none;
            }

            img {
               width: 100%; 
               margin-bottom: 10px;
            }

            .learn-item-bottom {
               padding: 0 20px 15px 20px;

               span.category {
                  font-size: .65em; 
                  color: #0069ff;
                  font-weight: bolder;
               }

               span.date {
                  font-size: .65em; 
                  color: rgba(0, 0, 0, 0.6);
               }

               span.title {
                  font-weight: 600;
               }
            }
         }
      }
   }
}

.portfolio-blk {
   margin-top: 60px;
   overflow: hidden;

   .company-slider-top, .company-slider-bottom{
      position: relative;
      height: 100px;
      overflow: hidden;
      width: max-content;

      .slider-top-first, .slider-top-next {
         display: inline-block;

         .company-logo {
            display: inline-block;
            text-align: center;
            margin: 40px 30px;

            img {
               height: 40px;
               filter: grayscale(100%);
               opacity: 0.6;
               transition: filter .2s ease;
            }
            img:hover {
               filter: grayscale(0%); 
               opacity: 1; 
            }
         }
      }
   }

   .company-slider-top{
      animation: 40s linear 0s infinite normal none running first-slider;
   }
   .company-slider-bottom{
      animation: 60s linear 0s infinite normal none running second-slider;
   }
}

@keyframes first-slider {
   from {
      transform: translate3d(0,0,0);
   }
   to {
      transform: translate3d(-50%,0,0);
   } 
}
@keyframes second-slider {
   from {
      transform: translate3d(0,0,0);
   }
   to {
      transform: translate3d(-50%,0,0);
   } 
}

@media only screen and (max-width: 768px) {
   .home-blk {
      .promise-content {
         font-size: 2rem;
         line-height: 3rem;
      }
   }

   .portfolio-blk {
      margin-bottom: 50px;
   }

   .explore-blk {
      .label-imge {
         margin: 15px 0 !important;

         object {
            width: 20% !important;
         }
      }

      .title {
         h2 {
            font-size: 2.5rem !important; 
         }
      }

      .description {
         p {
            width: 100% !important;
         }
      }

      .tools-wrapper {
         .tiny-heading {
           margin-top: 20px; 
         }
      }
   }

   .cta-blk {
      .cta-content {
         font-size: 1.5rem !important;
         line-height: 2.5rem !important;
      }
   }

   .articles-blk {
      h2 {
         font-size: 1.5rem !important;
      }
   }
}