.learn-blk {
   .learn-top {
      background: rgb(9,9,121);
      background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(0,82,204,1) 0%, rgba(0,130,204,1) 100%);
      color: white;
      padding: 50px 0;

      h2 {
         font-size: 3rem;
         font-weight: 600; 
         text-align: center;
         margin-bottom: 20px;
      }

      p {
         font-size: 1.4rem;
         text-align: center;
         font-weight: 200;

         b {
            font-weight: 700;
         }
      }
   }

   .learn-item {
      box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.15) !important;
      transition: 0.3s;

      &:hover {
         box-shadow: 0rem 0rem 1rem 0.3rem rgba(0, 0, 0, 0.2) !important;
      }

      a {
         border-radius: 0px; 
         font-size: 1.3em; 
         margin: auto; 
         color: rgba(0, 0, 0, 0.85);

         &:hover {
            text-decoration: none;
         }

         img {
            width: 100%; 
            margin-bottom: 10px;
         }

         .learn-item-bottom {
            padding: 0 20px 15px 20px;

            span.category {
               font-size: .65em; 
               color: #0069ff;
               font-weight: bolder;
            }

            span.date {
               font-size: .65em; 
               color: rgba(0, 0, 0, 0.6);
            }

            span.title {
               font-weight: 600;
            }
         }
      }
   }
}