.article-blk {
   .article-wrapper {
      padding-bottom: 100px;

      .article-summary {
         .article-summary-content {
            position: sticky;
            top: 100px;
            align-self: start;
            margin-top: 40px;

            h3 {
               font-size: 1rem;
               color: #5b6987;
            }

            ul {
               padding-left: 0;
               list-style-type: none;

               li {
                  padding-top: 14px;

                  a {
                     color: #99a1b3;
                     hyphens: auto;
                     opacity: 1;
                     overflow-wrap: break-word;
                     font-size: 14px;
                     line-height: 20px;
                     font-weight: 500;

                     &.title-focus {
                        color: #031b4e;
                        font-weight: 600;
                     }

                     &:hover {
                        text-decoration: none;
                        color: #031b4e;
                        opacity: .7;
                     }
                  }
               }
            }
         }
      }

      .article-related {
         margin-top: 40px;
         color: #5b6987;

         h3 {
            font-size: 1rem;
         }

         ul {
            padding-left: 0;
            list-style-type: none;

            li {
               padding: 14px 0 5px 0;

               &:not(:last-child) {
                  border-bottom: 1px solid #dee2e8;
               }

               a {
                  display: block;
                  color: #5b6987;
                  hyphens: auto;
                  opacity: 1;
                  overflow-wrap: break-word;
                  font-size: 14px;
                  line-height: 20px;

                  &:hover {
                     text-decoration: none;
                     color: #031b4e;
                  }

                  span {
                     margin-top: 6px;
                     display: block;
                     color: #0069ff;

                     img {
                        width: 9px;
                        position: relative;
                        top: -1px;
                     }
                  }
               }
            }
         }
      }

      .article-content {
         .article-image {
            height: 350px; 
            margin-top: 40px; 
            overflow: hidden;

            .img {
               width: 100%;
            }
         }

         .article-title {
            h1 {
               font-size: 2.1em;
               font-weight: 600;
               margin: auto;
               margin-bottom: 20px;
            }

            p {
               margin-bottom: 5px;

               span.article-category{
                  color: #0069ff;
                  font-weight: 500;
               }

               span.article-date{
                  font-size: .94em;
                  font-weight: 400;
                  color: rgba(0, 0, 0, 0.6);
               }
               span.article-author{
                  font-size: .94em;
                  font-weight: 400;
                  color: #031b4e;
               }
            }
         }

         .article-text-content {
            font-size: 16px;
            line-height: 1.8;
            color: #333;

            h2 {
               color: #323232;
               font-size: 26px;
               margin: 30px auto 10px;
            }

            h3 {
               color: #323232;
               margin: 25px 0 10px;
               font-size: 20px;
            }
         }
      }
   }

   .article-recent {
      box-shadow: inset rgba(3,27,78,.1)0 2px 4px 0;
      background:#f5f5f5;
      background: linear-gradient(180deg, #f5f5f5 0%,#fff 100%);
      padding: 30px 0px;

      h3 {
         text-align: center;
         margin: auto;
         font-size: 1.7rem;
         color: #5b6987cf;
      }

      .learn-item {
         box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.15) !important;
         transition: 0.3s;

         &:hover {
            box-shadow: 0rem 0rem 1rem 0.3rem rgba(0, 0, 0, 0.18) !important;
         }


         a {
            border-radius: 0px; 
            font-size: 1.3em;
            margin: auto; 
            color: rgba(0, 0, 0, 0.85);

            &:hover {
               text-decoration: none;
            }

            img {
               width: 100%; 
               margin-bottom: 10px;
            }

            .learn-item-bottom {
               padding: 0 15px 15px 15px;

               span.category {
                  font-size: .65em; 
                  color: rgba(0, 0, 0, 0.6); 
                  font-weight: bolder;
               }

               span.date {
                  font-size: .65em; 
                  color: rgba(0, 0, 0, 0.6);
               }

               span.title {
                  margin-top: 5px;
                  font-weight: 500;
                  font-size: .8em; 
               }
            }
         }
      }
   }

   #scrollUp {
      a {
         display: block;
         position: fixed;
         background-color: #0069ff;
         border-radius: 18px;
         bottom: 20px;
         color: #fff;
         font-size: 12px;
         font-weight: 600;
         letter-spacing: 1.3px;
         opacity: 1;
         padding: 11px 0 9px;
         right: 20px;
         text-align: center;
         text-decoration: none;
         text-transform: uppercase;
         transition: .2s ease;
         width: 140px;
         z-index: 1000;

         &:hover {
            background-color: #000;
         }
      }
   }
}