.footer-blk {
  .waves-bottom {
    position: relative;
    top: 4px;
  }

  .footer-content {
    background: rgb(9,9,121);
    background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(0,82,204,1) 0%, rgba(0,130,204,1) 100%);

    footer {
      .footer-top {
        padding-top: 30px !important;
        color: #fff;

        h5 {
          font-weight: bold;
          font-size: 1.1rem;
          color: #fff;
        }

        ul {
          list-style: none;
          font-size: 1rem;

          li {
            padding-bottom: 10px;

            a {
              color: #ffffffb5 !important;
            }
          }
        }
      }
      .footer-bottom {
        border-top: 1px solid  #ffffffb5;
        color: #ffffffb5;
      }
    }
  }
}  


@media only screen and (max-width: 768px) {
  footer {

    svg {
      margin: auto;
    }

    .footer-top {
      padding-top: 40px !important;

      .footer-logo {
        text-align: center;
        margin: auto;
        margin-bottom: 40px;
      }

      h5 {
        font-weight: 700;
        font-size: 1.3rem;
        color: #162c58;
      }

      .footer-contact {
        text-align: center;
        margin-top: 20px;
      }
    }

    .footer-bottom {
      text-align: center;
    }
  }
}